body {
    background-color: ghostwhite;

}
h1{
    color: black;
    font-family: Arial;
    text-align: center;
}
h2 {
    color: black;
    font-family: Arial;
    text-align: center;
}
p{
    font-family: Arial;
    text-align: center;
}